.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cardQuote {
    display: flex;
    text-align: center;
    min-width: 50;
}

.ddText2 {
    font-weight: bold;
}


.box-main1 {
    background-color: #FFE8D6;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    
}

.text-small1 {
    text-align: center;
}

.text-small2 {
    line-height: 3;
    width: 49%;
}

.text-small3 {
    width: 49%;
    line-height: 3;
    text-align: right;

    float: right;
    
}

.img3 {
    text-align: left;
}
.secondHalf {
    display: flex;
    justify-content: space-between
}


.ddCardText {
    text-align: center;
}

.primary {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;

}

